# Imports

In [ ]:
from modules.data import  data_reader, data_loader
from modules.sr import result_saver
from modules.models import lag_llama
from modules.experiment.tscv import get_tscv_results, get_summary, extract_metrics
from modules.visualization import graphs
from modules.fine_tuning import lag_llama_ft
from modules.models import prpht

# Notes

Earliest monthly data for S&P500 is 1985
FTSE 100 also 1985
NASDAQ also 1985

In [13]:
from modules.data import data_loader

a = data_loader.get_data(type = "commodity",ticker="WTI", frequency = "weekly", rtrn = False)

c:\Users\topco\Dokumenti\MSc Banking and Digital Finance UCL\Modules\Dissertation\MSc_dissertation\modules\data\data_loader.py:123: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['y'] = df['y'].fillna(method='bfill') # imputing the missing values

In [14]:
a

             ds      y
0    2024-08-16  79.49
1    2024-08-09  76.33
2    2024-08-02  77.11
3    2024-07-26  79.26
4    2024-07-19  82.98
...         ...    ...
2011 1986-01-31  19.69
2012 1986-01-24  20.31
2013 1986-01-17  24.57
2014 1986-01-10  25.99
2015 1986-01-03  25.78

[2016 rows x 2 columns]

In [5]:
from modules.data import data_loader

a = data_loader.get_data(type = "index",ticker="NASDAQ", frequency = "daily", start = "2022-01-01", end = "2024-01-01", rtrn = True)

[*********************100%%**********************]  1 of 1 completed

In [6]:
a

            ds         y
1   2022-01-04 -0.013269
2   2022-01-05 -0.033448
3   2022-01-06 -0.001279
4   2022-01-07 -0.009612
5   2022-01-10  0.000464
..         ...       ...
496 2023-12-22  0.001945
497 2023-12-26  0.005443
498 2023-12-27  0.001633
499 2023-12-28 -0.000268
500 2023-12-29 -0.005551

[500 rows x 2 columns]

In [12]:
b = data_loader.get_data(type = "index",ticker="S&P 500", frequency = "daily", start = "2022-01-01", end = "2024-01-01", rtrn = False)

[*********************100%%**********************]  1 of 1 completed

In [13]:
b

            ds            y
0   2022-01-03  4796.560059
1   2022-01-04  4793.540039
2   2022-01-05  4700.580078
3   2022-01-06  4696.049805
4   2022-01-07  4677.029785
..         ...          ...
496 2023-12-22  4754.629883
497 2023-12-26  4774.750000
498 2023-12-27  4781.580078
499 2023-12-28  4783.350098
500 2023-12-29  4769.830078

[501 rows x 2 columns]

In [20]:
a[:128]

            ds      y
166 2023-12-29  71.89
167 2023-12-28  72.02
168 2023-12-27  74.31
169 2023-12-26  75.84
170 2023-12-25  73.29
..         ...    ...
289 2023-07-11  74.87
290 2023-07-10  73.05
291 2023-07-07  73.91
292 2023-07-06  71.76
293 2023-07-05  71.78

[128 rows x 2 columns]

In [5]:
min(2, 3)

2

In [ ]:
from modules.models import arima_hybrid

pr = arima_hybrid.get_arima_timegpt_predictions(data=a, prediction_horizon=1, frequency="daily", error_train_size = 64)

In [4]:
pr

[4871.379283940607]

In [9]:
import numpy as np
np.array([1, 2, 3]) - np.array([4, 5, 6])

array([-3, -3, -3])

In [15]:
from modules.data import data_loader

a = data_loader.get_data(type = "index", ticker = "NASDAQ Composite", frequency = "monthly", start = "1920-01-01", end = "2024-01-01", rtrn = False)
#a = data_loader.get_data(type = "stock", ticker = "IBM", frequency = "daily", start = "01-01-2023", end = "01-01-2024")

[*********************100%%**********************]  1 of 1 completed

In [17]:
x = data_loader.get_exogenous_data(start_date="1920-01-01", end_date="2024-01-01")

c:\Users\topco\Dokumenti\MSc Banking and Digital Finance UCL\Modules\Dissertation\MSc_dissertation\modules\data\data_loader.py:123: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['y'] = df['y'].fillna(method='bfill') # imputing the missing values

In [18]:
x

            ds        x1    x2     x3
0   1986-01-01  0.274474  7.82  22.93
1   1986-02-01 -0.273723  7.69  15.46
2   1986-03-01 -0.457457  7.24  12.61
3   1986-04-01 -0.183824  6.60  12.84
4   1986-05-01  0.276243  6.65  15.38
..         ...       ...   ...    ...
451 2023-08-01  0.436716  5.44  81.39
452 2023-09-01  0.248513  5.49  89.43
453 2023-10-01 -0.038338  5.46  85.64
454 2023-11-01 -0.201514  5.41  77.69
455 2023-12-01 -0.099332  5.32  71.90

[456 rows x 4 columns]

In [ ]:
import pandas as pd
import os
pd.read_csv(os.path.join("data", "credit_card", "uk_credit_card_data_monthly.csv"))

In [18]:
'''import os

# this is for renaming files

def rename_files_in_folder(folder_path, old_string, new_string):
    try:
        # Get the list of all files in the specified folder
        files = os.listdir(folder_path)
        
        for filename in files:
            # Check if the old string is in the filename
            if old_string in filename:
                # Create the new filename by replacing the old string with the new string
                new_filename = filename.replace(old_string, new_string)
                
                # Construct the full file paths
                old_file_path = os.path.join(folder_path, filename)
                new_file_path = os.path.join(folder_path, new_filename)
                
                # Rename the file
                os.rename(old_file_path, new_file_path)
                
                print(f"Renamed: {filename} -> {new_filename}")
            else:
                print(f"No match found in: {filename}")
                
        print("Renaming process completed.")
        
    except Exception as e:
        print(f"An error occurred: {e}")

folder_path = os.path.abspath(os.path.join(os.getcwd(), "results", "partial", "prediction")) #"/results/evaluation"
folder_path_2 = os.path.abspath(os.path.join(os.getcwd(), "results", "partial", "evaluation"))

s1 = "__"
s2 = "_"

rename_files_in_folder(folder_path, s1, s2)
rename_files_in_folder(folder_path_2, s1, s2)'''

Renamed: T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renaming process completed.
Renamed: T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=DOWJ_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=FTSE 100_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=NASDAQ_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=128_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=32_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=daily_TOD=index_FO=5_CLTS=64_SD=2022-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=128_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=32_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renamed: T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6__BS=5__ME=4.csv -> T=S&P 500_FR=weekly_TOD=index_FO=5_CLTS=64_SD=2019-01-01_ED=2024-01-01_FTL=200_FTF=5_FTG=0_TSCVR=6_BS=5_ME=4.csv
Renaming process completed.

In [9]:
'''# this is for adding something at the end

import os

# this is for renaming files

def rename_files_in_folder(folder_path):
    try:
        # Get the list of all files in the specified folder
        files = os.listdir(folder_path)
        
        for filename in files:
            # Check if the old string is in the filename
            
                old_file_path = os.path.join(folder_path, filename)
                new_file_path = old_file_path[:-4] + "__BS=5__ME=4.csv"
                
                # Rename the file
                os.rename(old_file_path, new_file_path)
                
                
                
        print("Renaming process completed.")
        
    except Exception as e:
        print(f"An error occurred: {e}")

folder_path = os.path.abspath(os.path.join(os.getcwd(), "results", "partial", "prediction")) #"/results/evaluation"
folder_path_2 = os.path.abspath(os.path.join(os.getcwd(), "results", "partial", "evaluation"))



rename_files_in_folder(folder_path)
rename_files_in_folder(folder_path_2)'''

Renaming process completed.
Renaming process completed.

In [ ]:
# this combines ft_timeGPT evaluation with previous results

import os
import pandas as pd

# Define the paths to the folders
folder1 = "results/evaluation"
folder2 = "results/partial/evaluation"

# Get a list of all .csv files in both folders
files1 = [f for f in os.listdir(folder1) if f.endswith('.csv')]
files2 = [f for f in os.listdir(folder2) if f.endswith('.csv')]

# Ensure that only matching files are processed
matching_files = set(files1) & set(files2)

# Loop through each matching file
for filename in matching_files:
    # Construct the full file paths
    file1_path = os.path.join(folder1, filename)
    file2_path = os.path.join(folder2, filename)
    
    # Read the dataframes from both files
    df1 = pd.read_csv(file1_path, index_col=0)
    df2 = pd.read_csv(file2_path, index_col=0)
    
    # Concatenate the dataframes, preserving the index
    combined_df = pd.concat([df1, df2])
    
    # Save the combined dataframe back to the file in the first folder
    combined_df.to_csv(file1_path)

# Parameters

In [ ]:
# experiment parameters
#constraint: FOLDS x PREDICTION_LENGTH + TRAIN_SIZE !!must not!! be bigger than len(data)

PREDICTION_LENGTH = 1 # currentlz only works for PREDICTION_LENGTH > 1
TICKER = "S&P 500"
FREQUENCY = "minutely" # currently we only have dailz frequency
TYPE_OF_DATA = "stock" # currently we only have stock prices saved
MODELS = ["arima", "llama", "autoregressor", "fine-tuned Llama"] # currentlz works onlz for these two
FOLDS = 5 # for TSCV # reduced to two for testing purposes
CONTEXT_LENGTH = 245 # set to 245 for testing purposes
METRICS = ['r2', 'mse', 'mae', 'rmse', 'mda', "mape"]

# fine-tuning parameters
BATCH_SIZE = 10
MAX_EPOCHS = 5

# data parameters
START_DATE = "2024-07-22"
END_DATE = "2024-07-23"

# want to add
#TRAIN_PERIOD = # context lenghts. Should take a look into this
TRAIN_SIZE = CONTEXT_LENGTH

# Data

In [ ]:
"""
data = data_reader.read_data(type = TYPE_OF_DATA, frequency = FREQUENCY)
# this is just in case there are more CSVs of the same type and frequency, the data should be the first in the list
#if len(data) > 1:
data = data[0]

simple_data = data_reader.read_data(type = TYPE_OF_DATA, frequency = FREQUENCY, match = ["simple"])
#if len(simple_data) > 1:
simple_data = simple_data[0]

train_data = data_reader.read_data(type = TYPE_OF_DATA, frequency = FREQUENCY, match = ["train"])
train_data = train_data[0]

test_data = data_reader.read_data(type = TYPE_OF_DATA, frequency = FREQUENCY, match = ["test"])
test_data = test_data[0]
"""

In [ ]:
DATA_CONFIG = {"ticker" : TICKER,
               "frequency" : FREQUENCY,
               "start" : START_DATE,
               "end" : END_DATE}

In [ ]:
data = data_loader.get_data(data_type=TYPE_OF_DATA, kwargs=DATA_CONFIG)

In [ ]:
data

In [ ]:
import

# Additional parameters

In [ ]:
DATA_LENGTH = len(data)
FOLDS = int((DATA_LENGTH - TRAIN_SIZE) / PREDICTION_LENGTH) # this calculates max ammount of folds we can have given a set TRAIN_SIZE and PREDICTION_LENGTH
FOLDS = 5

In [ ]:
from modules.data import data_loader

In [ ]:
config = {"ticker" : "USD/GBP",
          "frequency" : "daily",
          "start" : "2024-07-01",
          "end" : "2024-07-30"}

In [ ]:
import os
print(os.getenv("ALPHAVANTAGE_API"))

In [ ]:
os.getenv("ALPHAVANTAGE_API")

In [ ]:
os.environ

In [ ]:
for key, value in os.environ.items():
    print(f'{key}: {value}')

In [ ]:
h = data_loader.get_data(data_type="exchange_rate", kwargs=config)

In [ ]:
h

# Fine tuning

In [ ]:
#preparing the training data for lag llama fine tuning
ft_train_data = lag_llama.prepare_data(data=ft_data, 
                                       prediction_length=0, 
                                       frequency=FREQUENCY)

In [ ]:
# creating the lag llama predictor object 
predictor = lag_llama_ft.get_predictor(prediction_length=PREDICTION_LENGTH, 
                                       context_length=CONTEXT_LENGTH, 
                                       batch_size=BATCH_SIZE, 
                                       max_epochs=MAX_EPOCHS)

In [ ]:
# fine-tuning the predictor object
predictor = predictor.train(ft_train_data, 
                            cache_data = True, 
                            shuffle_buffer_length = 1000)

In [ ]:
r, p = get_tscv_results(data = data,
                           prediction_horizon=PREDICTION_LENGTH,
                           context_length=CONTEXT_LENGTH, 
                           folds=FOLDS, 
                           frequency=FREQUENCY,
                           predictor=predictor)

# Saving results

In [ ]:
r

In [ ]:
p

In [ ]:
experiment_name = f"PREDICTION_LENGTH={PREDICTION_LENGTH}__TICKER={TICKER}__FREQUENCY={FREQUENCY}__TYPE_OF_DATA={TYPE_OF_DATA}__FOLDS={FOLDS}__CONTEXT_LENGTH/TRAIN_SIZE={CONTEXT_LENGTH}__FT_START_DATE={FT_START_DATE}__START_DATE={START_DATE}__END_DATE={END_DATE}__FT_LENGTH={FT_LENGTH}__DATA_LENGTH={DATA_LENGTH}"

In [ ]:
experiment_name = f"P_L={PREDICTION_LENGTH}__T={TICKER}__FR={FREQUENCY}__T_O_D={TYPE_OF_DATA}__FO={FOLDS}__C_L_T_S={CONTEXT_LENGTH}__FT_S_D={FT_START_DATE}__S_D={START_DATE}__E_D={END_DATE}__FT_L={FT_LENGTH}__D_L={DATA_LENGTH}.csv"

In [ ]:
experiment_name

In [ ]:
result_saver.save_results(r, experiment_name, type="evaluation")
result_saver.save_results(p, experiment_name, type="prediction")

# Models

In [ ]:
# arima

In [ ]:
# lag llama

# Fine tuning an estimator

In [ ]:
PREDICTION_LENGTH = 5

In [ ]:
#preparing the training data for lag llama fine tuning
ft_train_data = lag_llama.prepare_data(data=ft_data, 
                                       prediction_length=0, 
                                       frequency=FREQUENCY)

In [ ]:
# creating the lag llama predictor object 
predictor = lag_llama_ft.get_predictor(prediction_length=PREDICTION_LENGTH, 
                                       context_length=CONTEXT_LENGTH, 
                                       batch_size=BATCH_SIZE, 
                                       max_epochs=MAX_EPOCHS)

In [ ]:
# fine-tuning the predictor object
predictor = predictor.train(ft_train_data, 
                            cache_data = True, 
                            shuffle_buffer_length = 1000)

# SKLearn TSCV

In [ ]:
r, p, a = get_tscv_results(data = data,
                           prediction_horizon=PREDICTION_LENGTH,
                           context_length=CONTEXT_LENGTH, 
                           folds=FOLDS, 
                           frequency=FREQUENCY, 
                           predictor=predictor)

In [ ]:
#creating the summary for each model
s = [get_summary(r[i]) for i in range(len(r))]

In [ ]:
means_df, medians_df, stds_df = extract_metrics(s, MODELS)

In [ ]:
means_df

# Visualisation

In [ ]:
graphs.standard_visualisation(MODELS, METRICS, s)

In [ ]:
graphs.interactive_visualisation(MODELS, METRICS, s)

In [ ]:
graphs.prediction_visualisation(MODELS, p, a)

LABEL the graph
label the axes with timestamps
show the history of the actual
table of comparison, not just graph