# inflation data experiments

In [1]:
import yfinance as yf
import requests
import pandas as pd
import os
from datetime import datetime, timedelta

In [8]:
os.getcwd() + "\\llama"

'c:\\Users\\topco\\Dokumenti\\MSc Banking and Digital Finance UCL\\Modules\\Dissertation\\MSc_dissertation\\llama'

In [1]:
from modules.data.data_reader import read_data

In [2]:
a = read_data("stock")

['all_sp500_stocks_1years_daily', 'exp.ipynb']
--------
['all_sp500_stocks_1years_daily']
--------

## Testing tscv dataset

In [1]:
from modules.data.tscv import create_tscv_dataset
from modules.data.data_loader import get_simle_data

In [2]:
import pandas as pd

In [3]:
a = get_simle_data()

[*********************100%%**********************]  1 of 1 completed

In [10]:
a.iloc[45:60]

           ds           y
45 2023-09-08  178.179993
46 2023-09-11  179.360001
47 2023-09-12  176.300003
48 2023-09-13  174.210007
49 2023-09-14  175.740005
50 2023-09-15  175.009995
51 2023-09-18  177.970001
52 2023-09-19  179.070007
53 2023-09-20  175.490005
54 2023-09-21  173.929993
55 2023-09-22  174.789993
56 2023-09-25  176.080002
57 2023-09-26  171.960007
58 2023-09-27  170.429993
59 2023-09-28  170.690002

In [5]:
tscv = create_tscv_dataset(data=a, context_length=50, n_folds=3, prediction_horizon=5, max_folds=False)

In [11]:
tscv.tail(5)

           ds          y0          y1          y2
46 2023-09-11  179.360001  176.300003  174.210007
47 2023-09-12  176.300003  174.210007  175.740005
48 2023-09-13  174.210007  175.740005  175.009995
49 2023-09-14  175.740005  175.009995  177.970001
50 2023-09-15  173.929993  174.789993  176.080002

In [1]:
from modules.data import data_loader, data_splitter

In [12]:
price_index = data_loader.get_inflation_data("GB", 2000, 2023)

In [15]:
import os

In [16]:
fred_api_key = os.getenv("fred_api_key")
start_date = "2000-01-01"
end_date = "2020-12-31"
series_id = "FEDFUNDS"
interest_rate_data = data_loader.get_interest_rate_data(series_id, start_date, end_date, fred_api_key)

KeyError: 'observations'

## Loading data

In [2]:
a = data_loader.get_simle_data()
tr, te = data_splitter.split_data(a, 10)

[*********************100%%**********************]  1 of 1 completed

## Imports

In [14]:
from modules.models.lag_llama import get_lam_llama_forecast

In [15]:
from modules.models.arima import get_autoarima

In [16]:
def get_inflation_data(country_code: str, start_year: int, end_year: int):
    url = f"http://api.worldbank.org/v2/country/{country_code}/indicator/FP.CPI.TOTL?date={start_year}:{end_year}&format=json"
    response = requests.get(url)
    data = response.json()
    inflation_data = pd.json_normalize(data[1])
    return inflation_data[['date', 'value']].rename(columns={'date': 'Year', 'value': 'Inflation'})

In [17]:
inflation_data = get_inflation_data('USA', 2000, 2020)
inflation_data["Inflation"]

0     118.690502
1     117.244195
2     115.157303
3     112.411557
4     110.067009
5     108.695722
6     108.566932
7     106.833849
8     105.291505
9     103.156842
10    100.000000
11     98.386420
12     98.737477
13     95.086992
14     92.449705
15     89.560532
16     86.621678
17     84.363079
18     82.490467
19     81.202568
20     78.970721
Name: Inflation, dtype: float64