# inflation data experiments

In [7]:
import yfinance as yf
import requests
import pandas as pd
import os
from datetime import datetime, timedelta

In [8]:
os.getcwd() + "\\llama"

'c:\\Users\\topco\\Dokumenti\\MSc Banking and Digital Finance UCL\\Modules\\Dissertation\\MSc_dissertation\\llama'

In [1]:
from modules.data import data_loader, data_splitter

In [2]:
a = data_loader.get_simle_data()
tr, te = data_splitter.split_data(a, 10)

[*********************100%%**********************]  1 of 1 completed

In [4]:
te

            ds           y
241 2024-06-11  207.149994
242 2024-06-12  213.070007
243 2024-06-13  214.240005
244 2024-06-14  212.490005
245 2024-06-17  216.669998
246 2024-06-18  214.289993
247 2024-06-20  209.679993
248 2024-06-21  207.490005
249 2024-06-24  208.139999
250 2024-06-25  209.070007

In [14]:
from modules.models.lag_llama import get_lam_llama_forecast

In [15]:
from modules.models.arima import get_autoarima

In [16]:
def get_inflation_data(country_code: str, start_year: int, end_year: int):
    url = f"http://api.worldbank.org/v2/country/{country_code}/indicator/FP.CPI.TOTL?date={start_year}:{end_year}&format=json"
    response = requests.get(url)
    data = response.json()
    inflation_data = pd.json_normalize(data[1])
    return inflation_data[['date', 'value']].rename(columns={'date': 'Year', 'value': 'Inflation'})

In [17]:
inflation_data = get_inflation_data('USA', 2000, 2020)
inflation_data["Inflation"]

0     118.690502
1     117.244195
2     115.157303
3     112.411557
4     110.067009
5     108.695722
6     108.566932
7     106.833849
8     105.291505
9     103.156842
10    100.000000
11     98.386420
12     98.737477
13     95.086992
14     92.449705
15     89.560532
16     86.621678
17     84.363079
18     82.490467
19     81.202568
20     78.970721
Name: Inflation, dtype: float64