# inflation data experiments

In [1]:
import yfinance as yf
import requests
import pandas as pd
import os
from datetime import datetime, timedelta

In [8]:
os.getcwd() + "\\llama"

'c:\\Users\\topco\\Dokumenti\\MSc Banking and Digital Finance UCL\\Modules\\Dissertation\\MSc_dissertation\\llama'

In [1]:
from modules.data.data_reader import read_data

In [2]:
a = read_data("stock")

['all_sp500_stocks_1years_daily', 'exp.ipynb']
--------
['all_sp500_stocks_1years_daily']
--------

## Testing tscv dataset

In [1]:
from modules.data.tscv import create_tscv_dataset
from modules.data.data_loader import get_simle_data

In [2]:
import pandas as pd

In [3]:
a = get_simle_data()

[*********************100%%**********************]  1 of 1 completed

In [10]:
a.iloc[45:60]

           ds           y
45 2023-09-08  178.179993
46 2023-09-11  179.360001
47 2023-09-12  176.300003
48 2023-09-13  174.210007
49 2023-09-14  175.740005
50 2023-09-15  175.009995
51 2023-09-18  177.970001
52 2023-09-19  179.070007
53 2023-09-20  175.490005
54 2023-09-21  173.929993
55 2023-09-22  174.789993
56 2023-09-25  176.080002
57 2023-09-26  171.960007
58 2023-09-27  170.429993
59 2023-09-28  170.690002

In [5]:
tscv = create_tscv_dataset(data=a, context_length=50, n_folds=3, prediction_horizon=5, max_folds=False)

In [11]:
tscv.tail(5)

           ds          y0          y1          y2
46 2023-09-11  179.360001  176.300003  174.210007
47 2023-09-12  176.300003  174.210007  175.740005
48 2023-09-13  174.210007  175.740005  175.009995
49 2023-09-14  175.740005  175.009995  177.970001
50 2023-09-15  173.929993  174.789993  176.080002

## Testing run_experiment() with tscv functionality

In [1]:
from modules.experiment.experiment import run_experiment
from modules.data.tscv import create_tscv_dataset
from modules.data.data_loader import get_simle_data

In [2]:
data = get_simle_data()

[*********************100%%**********************]  1 of 1 completed

In [3]:
tscv_data = create_tscv_dataset(data=data, context_length=100, n_folds=4, prediction_horizon=3, max_folds=False)

In [4]:
tscv_result, prediction = run_experiment(data=tscv_data, tscv=True)

y0 done  1
------------
y1 done  2
------------
y2 done  3
------------
y3 done  4
------------

In [5]:
tscv_result

{'r2': {'arima': 0.682973903010296, 'llama': -372.0972545117879},
 'mse': {'arima': 0.1792706001964967, 'llama': 210.9774853966219},
 'mae': {'arima': 0.3713687210222858, 'llama': 14.44460902996071},
 'rmse': {'arima': 0.4234035902026537, 'llama': 14.525064041050625}}

In [6]:
prediction

{'arima': [189.69992071089578,
  189.74544857416888,
  190.52555933547032,
  189.19343791716744],
 'llama': [177.15544973811058,
  175.38051008615636,
  174.71364383660395,
  174.96195045366127],
 'true': [[189.3699951171875],
  [189.9499969482422],
  [191.24000549316406],
  [189.42999267578125]]}

In [1]:
from modules.data import data_loader, data_splitter

In [12]:
tscv = create_tscv_dataset(data=a, context_length=50, n_folds=10, prediction_horizon=2, max_folds=False)

           ds          y0          y1          y2
0  2023-07-06  191.809998  190.679993  188.610001
1  2023-07-07  190.679993  188.610001  188.080002
2  2023-07-10  188.610001  188.080002  189.770004
3  2023-07-11  188.080002  189.770004  190.539993
4  2023-07-12  189.770004  190.539993  190.690002
5  2023-07-13  190.539993  190.690002  193.990005
6  2023-07-14  190.690002  193.990005  193.729996
7  2023-07-17  193.990005  193.729996  195.100006
8  2023-07-18  193.729996  195.100006  193.130005
9  2023-07-19  195.100006  193.130005  191.940002
10 2023-07-20  193.130005  191.940002  192.750000
11 2023-07-21  191.940002  192.750000  193.619995
12 2023-07-24  192.750000  193.619995  194.500000
13 2023-07-25  193.619995  194.500000  193.220001
14 2023-07-26  194.500000  193.220001  195.830002
15 2023-07-27  193.220001  195.830002  196.449997
16 2023-07-28  195.830002  196.449997  195.610001
17 2023-07-31  196.449997  195.610001  192.580002
18 2023-08-01  195.610001  192.580002  191.169998
19 2023-08-02  192.580002  191.169998  181.990005
20 2023-08-03  191.169998  181.990005  178.850006
21 2023-08-04  181.990005  178.850006  179.800003
22 2023-08-07  178.850006  179.800003  178.190002
23 2023-08-08  179.800003  178.190002  177.970001
24 2023-08-09  178.190002  177.970001  177.789993
25 2023-08-10  177.970001  177.789993  179.460007
26 2023-08-11  177.789993  179.460007  177.449997
27 2023-08-14  179.460007  177.449997  176.570007
28 2023-08-15  177.449997  176.570007  174.000000
29 2023-08-16  176.570007  174.000000  174.490005
30 2023-08-17  174.000000  174.490005  175.839996
31 2023-08-18  174.490005  175.839996  177.229996
32 2023-08-21  175.839996  177.229996  181.119995
33 2023-08-22  177.229996  181.119995  176.380005
34 2023-08-23  181.119995  176.380005  178.610001
35 2023-08-24  176.380005  178.610001  180.190002
36 2023-08-25  178.610001  180.190002  184.119995
37 2023-08-28  180.190002  184.119995  187.649994
38 2023-08-29  184.119995  187.649994  187.869995
39 2023-08-30  187.649994  187.869995  189.460007
40 2023-08-31  187.869995  189.460007  189.699997
41 2023-09-01  189.460007  189.699997  182.910004
42 2023-09-05  189.699997  182.910004  177.559998
43 2023-09-06  182.910004  177.559998  178.179993
44 2023-09-07  177.559998  178.179993  179.360001
45 2023-09-08  178.179993  179.360001  176.300003
46 2023-09-11  179.360001  176.300003  174.210007
47 2023-09-12  176.300003  174.210007  175.740005
48 2023-09-13  174.210007  175.740005  175.009995
49 2023-09-14  175.740005  175.009995  177.970001
50 2023-09-15  173.929993  174.789993  176.080002

In [12]:
price_index = data_loader.get_inflation_data("GB", 2000, 2023)

In [15]:
import os

In [16]:
fred_api_key = os.getenv("fred_api_key")
start_date = "2000-01-01"
end_date = "2020-12-31"
series_id = "FEDFUNDS"
interest_rate_data = data_loader.get_interest_rate_data(series_id, start_date, end_date, fred_api_key)

KeyError: 'observations'

## Loading data

In [2]:
a = data_loader.get_simle_data()
tr, te = data_splitter.split_data(a, 10)

[*********************100%%**********************]  1 of 1 completed

## Imports

In [14]:
from modules.models.lag_llama import get_lam_llama_forecast

In [15]:
from modules.models.arima import get_autoarima

In [16]:
def get_inflation_data(country_code: str, start_year: int, end_year: int):
    url = f"http://api.worldbank.org/v2/country/{country_code}/indicator/FP.CPI.TOTL?date={start_year}:{end_year}&format=json"
    response = requests.get(url)
    data = response.json()
    inflation_data = pd.json_normalize(data[1])
    return inflation_data[['date', 'value']].rename(columns={'date': 'Year', 'value': 'Inflation'})

In [17]:
inflation_data = get_inflation_data('USA', 2000, 2020)
inflation_data["Inflation"]

0     118.690502
1     117.244195
2     115.157303
3     112.411557
4     110.067009
5     108.695722
6     108.566932
7     106.833849
8     105.291505
9     103.156842
10    100.000000
11     98.386420
12     98.737477
13     95.086992
14     92.449705
15     89.560532
16     86.621678
17     84.363079
18     82.490467
19     81.202568
20     78.970721
Name: Inflation, dtype: float64